In [4]:
%run sparkCreate.ipynb

23/02/16 05:36:28 WARN Utils: Your hostname, LAPTOP-DHIBVMKK resolves to a loopback address: 127.0.1.1; using 172.27.190.130 instead (on interface eth0)
23/02/16 05:36:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/16 05:36:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Creating Spark DataFrame using Python Collection object

In [14]:
#create single column DataFrme wtih Integer list
ages_list = [12,23,44,2]

df = spark.createDataFrame(ages_list, 'int')
df.show()

+-----+
|value|
+-----+
|   12|
|   23|
|   44|
|    2|
+-----+

In [16]:

from pyspark.sql.types import IntegerType
df = spark.createDataFrame(ages_list, IntegerType())
df.show()

+-----+
|value|
+-----+
|   12|
|   23|
|   44|
|    2|
+-----+

In [18]:
#create single column DataFrme wtih String list

from pyspark.sql.types import StringType
names_list =["python", "java","SQL"]
spark.createDataFrame(names_list, StringType()).show()

+------+
| value|
+------+
|python|
|  java|
|   SQL|
+------+

In [19]:
#create multiple column DataFrme wtih list of tuple  

ages_list = [(12,),(23,)]
spark.createDataFrame(ages_list,'id int').show()

+---+
| id|
+---+
| 12|
| 23|
+---+

In [32]:
users_list = [(12,'elon'), (23,'john'), (99, 'bob')]
spark.createDataFrame(users_list, ['id','Name']).show()

+---+----+
| id|Name|
+---+----+
| 12|elon|
| 23|john|
| 99| bob|
+---+----+

In [23]:
spark.createDataFrame(users_list, ['id','Name']).collect()

[Row(id=12, Name='elon'), Row(id=23, Name='john'), Row(id=99, Name='bob')]

In [30]:
from pyspark.sql import Row
row = Row(12,'apple')

row

In [31]:
#create multiple column DataFrme wtih list of list

list_users = [[1,'bob'],[2, 'john'], [3, 'bala']]
df = spark.createDataFrame(list_users, 'id int, name string').show()

+---+----+
| id|name|
+---+----+
|  1| bob|
|  2|john|
|  3|bala|
+---+----+

In [37]:
#create multiple column DataFrme wtih list of Dict
#this approch deprecated 

user_dict = [
    {'id':1, 'name':"john"},
    {'id':2, 'name':"kevin"}  
]

df = spark.createDataFrame(user_dict).show()

In [57]:
from pyspark.sql import Row

user_dict = [
    {'id':1, 'name':"john"},
    {'id':2, 'name':"kevin"}  
]

user_row = [Row(*user) for user in user_dict]

df = spark.createDataFrame(user_dict, 'id int, name string').show()

+---+-----+
| id| name|
+---+-----+
|  1| john|
|  2|kevin|
+---+-----+

In [74]:
# Spark Basic Data Types

import datetime
users = [   
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoor0@etsy.com",
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "John",
        "last_name": "Doe",
        "email": "jdoe@example.com",
        "is_customer": True,
        "amount_paid": 500.00,
        "customer_from": datetime.date(2021, 4, 2),
        "last_updated_ts": datetime.datetime(2022, 10, 15, 12, 30, 0)
    },
    {
        "id": 3,
        "first_name": "Jane",
        "last_name": "Doe",
        "email": "janedoe@example.com",
        "is_customer": True,
        "amount_paid": 250.99,
        "customer_from": datetime.date(2020, 12, 31),
        "last_updated_ts": datetime.datetime(2022, 8, 20, 9, 0, 0)
    },
    {
        "id": 4,
        "first_name": "Bob",
        "last_name": "Smith",
        "email": "bsmith@example.com",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2022, 1, 1, 15, 30, 0)
    },
    {
        "id": 5,
        "first_name": "Emily",
        "last_name": "Jones",
        "email": "ejones@example.com",
        "is_customer": True,
        "amount_paid": 750.50,
        "customer_from": datetime.date(2021, 6, 15),
        "last_updated_ts": datetime.datetime(2022, 12, 5, 17, 45, 0)
    },
    {
        "id": 6,
        "first_name": "Mark",
        "last_name": "Johnson",
        "email": "mjohnson@example.com",
        "is_customer": True,
        "amount_paid": 1500.00,
        "customer_from": datetime.date(2020, 5, 10),
        "last_updated_ts": datetime.datetime(2023, 1, 10, 8, 0, 0)
    },
    {
        "id": 7,
        "first_name": "Samantha",
        "last_name": "Lee",
        "email": "slee@example.com",
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2022, 9, 1, 10, 0, 0)
    },
    {
        "id": 8,
        "first_name": "Michael",
        "last_name": "Brown",
        "email": "mbrown@example.com",
        "is_customer": True,
        "amount_paid": 350.75,
        "customer_from": datetime.date(2022, 1, 20),
        "last_updated_ts": datetime.datetime(2022, 11, 30, 14, 15, 0)
    }
]

In [75]:
from pyspark.sql import Row

user_df = spark.createDataFrame([Row(**user) for user in users])
user_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [76]:
user_df.show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoor0@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|      John|         Doe|    jdoe@example.com|       true|      500.0|   2021-04-02|2022-10-15 12:30:00|
|  3|      Jane|         Doe| janedoe@example.com|       true|     250.99|   2020-12-31|2022-08-20 09:00:00|
|  4|       Bob|       Smith|  bsmith@example.com|      false|       null|         null|2022-01-01 15:30:00|
|  5|     Emily|       Jones|  ejones@example.com|       true|      750.5|   2021-06-15|2022-12-05 17:45:00|
|  6|      Mark|     Johnson|mjohnson@example.com|       true|     1500.0|   2020-05-10|2023-01-10 08:00:00|
|  7|  Samantha|         Lee|    slee@example.com|      false|       null|         null|2022-09-01 10:00:00|
|  8|   Michael|       Brown|  mbrown@example.com|       true|     350.75|   2022-01-20|2022-11-30 14:15:00|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+